h1 {
  text-align: center;
  font-family: $header-font_700;
  font-size: calc(16px + 8 * ((100vw - 320px) / (1440 - 320)));
  line-height: 2;
}
.order-wrapper {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  max-width: 750px;
  margin: 10px auto;
  padding: 20px 30px 10px;
  border-radius: $large-radius;

  .order-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: $main-font_400_700;
    .container_row {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      width: 100%;
    }
    .container:nth-child(1) {
      width: 40%;
    }
    .container:nth-child(2) {
      width: 60%;
    }
    .container {
      display: flex;
      flex-direction: column;
      h2 {
        width: 100%;
        margin: 0 auto;
        padding-left: 50px;
        font-weight: 700;
      }
    }
    .order-text {
      width: 100%;
      margin: 0 auto;
      padding-left: 50px;
      font-size: calc(14px + 2 * ((100vw - 320px) / (1440 - 320)));
      font-weight: 400;
      span {
        display: block;
        border-bottom: $border;
        line-height: 1.3;
        padding: 5px 0;
        &::first-letter,
        &:last-child {
          font-weight: 700;
        }
      }
    }
    .user-data {
      width: 100%;
      label {
        font-size: calc(14px + 2 * ((100vw - 320px) / (1440 - 320)));
        font-weight: 700;
      }
    }

    .delivery,
    .contact-whith {
      p {
        font-family: $main-font_400_700;
        font-weight: 700;
        font-size: calc(14px + 2 * ((100vw - 320px) / (1440 - 320)));
        margin: 5px 0;
      }
      label {
        display: block;
        font-size: calc(14px + 2 * ((100vw - 320px) / (1440 - 320)));
        margin: 5px;
        font-weight: 400;
        cursor: pointer;

        input {
          margin-right: 5px;
        }
      }
    }
    .delivery label:nth-last-child(2){
        font-weight: 700;

    }

    .user-name,
    .user-surname,
    .user-tel,
    .delivery-address {
      display: block;
      width: 100%;
      padding: 4px 10px;
      margin-bottom: 20px;
      margin-top: 5px;
      border: $border;
      border-radius: $smoll-radius;
      font-family: $main-font_400_700;
      font-weight: 400;
    }
    .error-border {
      border: 1px solid rgb(150, 0, 0);
      box-shadow: 0px 0px 2px rgba(150, 0, 0);
    }
    .success-border {
      border: 1px solid rgb(66, 163, 1);
    }
    .error-message {
      color: rgb(150, 0, 0);
    }
  }
  .submit-btn {
    @extend %btn-style;
  }
}
.final-messaage {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: $background-color;
  transition: 0.3s;
  p {
    margin: auto;
    width: 75%;
    background-color: #ffffff;
    border-radius: $smoll-radius;
    padding: 20px;
  }
}
.active-message {
  top: 0;
}
@media (max-width: 900px) {
  main {
    margin: 50px auto 10px;
  }

  .order-wrapper {
    margin: 0px 10px;
    padding: 10px 10px;
    .order-form {
      .container_row {
        flex-direction: column-reverse;
      }
      .container {
        margin: 0 auto;
        width: 90%;

        .order-text {
          width: 100%;
          padding-left: 0px;
        }
        .user-data {
          margin-top: 10px;
        }
      }
      .container:nth-child(1),
      .container:nth-child(2) {
        width: 100%;
      }

      .user-name,
      .user-surname,
      .user-tel,
      .delivery-address {
        margin-top: 0px;
        margin-bottom: 10px;
      }
    }
  }
}
