.catalog {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0 50px;
  flex-wrap: wrap;
  gap: 40px 40px;
}
.product-preview {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  height: 468px;
  padding: 5px 5px 5px 5px;
  background-color: #ffffff;
  border: $border;
  border-radius: $smoll-radius;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    scale: 1.05;
    box-shadow: 4px 4px 8px rgba(39, 9, 53, 0.5);
  }
}
.product-photo {
  max-width: 268px;
  max-height: 268px;
  border: $border;
  border-radius: $smoll-radius;
  overflow: hidden;
  img {
    position: relative;
    max-width: 100%;
    bottom: 5%;
    object-fit: cover;
  }
}

.name {
  height: 48px;
  margin: 15px 0;
  font-family: $header-font_700;
  font-weight: 700;
  font-size: calc(14px + 6 * ((100vw - 320px) / (1440 - 320)));
  line-height: 1.2;
  text-align: center;
}
.about {
  display: flex;
  justify-content: space-around;
}
.inform-element {
  display: flex;
  & > img {
    width: auto;
    height: 32px;
    margin-bottom: 5px;
  }

  & > span {
    font-family: $number-font_400_500_700;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: $main-text-color;
  }
}
.more-about {
  @extend %btn-style;
}
@media (max-width: 767px) {
  .catalog {
    padding: 0px;
    .name {
      height: calc(24px + 24 * (100vw - 320px) / 1120);
      margin: 5px 0;
    }
    .product-preview {
      height: 420px;
    }
    .about-product {
      .elem-about img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
