html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(63, 4, 91, 0.3);
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(39, 9, 53);
}

.wrapper {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 18px 50px;
  height: 80px;
  background-color: rgba(63, 4, 91, 0.3);
}
header .logo {
  width: 68px;
  height: auto;
  transition: 0.3s;
}
header .logo:hover {
  scale: 1.1;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  width: 645px;
  display: flex;
  justify-content: space-between;
}
header nav ul a {
  color: #eeeeee;
  transition: 0.3s;
}
header nav ul a:hover {
  font-size: 22px;
  color: rgb(255, 210, 51);
}
header .basket-btn {
  transition: 0.3s;
}
header .basket-btn:hover {
  scale: 1.1;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  background: url(../images/hero.jpg);
  background-position: 0% 70%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  top: -80px;
  left: 0;
  z-index: 0;
  padding: 200px 50px;
}
.hero p {
  display: flex;
  align-items: center;
  text-align: center;
  width: 520px;
  font-size: 80px;
}

.catalog-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -40px auto 40px;
}
.catalog-wrapp > h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.catalog {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0 50px;
  flex-wrap: wrap;
  gap: 40px 40px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgb(39, 9, 53);
  background-color: #ffffff;
}

.product-img {
  width: 268px;
  height: 268px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(39, 9, 53);
}
.product-img img {
  position: relative;
  right: 25%;
  width: auto;
  height: 100%;
}

.name {
  height: 48px;
  font-size: 20px;
  margin: 15px 0 10px;
  text-align: center;
}

.about {
  display: flex;
  justify-content: space-around;
}

.inform-element {
  display: flex;
  flex-direction: column;
}
.inform-element > img {
  width: auto;
  height: 32px;
  margin-bottom: 5px;
}
.inform-element > span {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: rgb(39, 9, 53);
}

.more-about {
  display: inline-flex;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 65px;
  background-color: rgba(63, 4, 91, 0.3);
  border: 1px solid rgb(39, 9, 53);
  border-radius: 10px;
  color: rgb(39, 9, 53);
  transition: 0.3s;
}
.more-about:hover {
  background-color: rgb(255, 210, 51);
  box-shadow: 4px 4px 8px rgba(39, 9, 53, 0.5);
}

.product-big-card {
  display: flex;
  width: 100%;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */