$background-color: rgba(63, 4, 91, 0.3);
$main-text-color: rgba(39, 9, 53, 1);
$nav-text-color: #eeeeee;
$accent-color: rgba(255, 210, 51, 1);

$main-font: "Playfair Display", serif;
$accent-font: "Irish Grover", cursive;
$number-font: "Roboto", sans-serif;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;

  font-family: $main-font;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;

  color: $main-text-color;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 18px 50px;
  height: 80px;
  background-color: $background-color;

  .logo {
    width: 68px;
    height: auto;
    transition: 0.3s;
    &:hover {
      scale: 1.1;
    }
  }
  nav {
    display: flex;
    align-items: center;
    ul {
      width: 645px;
      display: flex;
      justify-content: space-between;

      a {
        color: $nav-text-color;
        transition: 0.3s;
        &:hover {
          color: $accent-color;
        }
      }
    }
  }

  .basket-btn {
    transition: 0.3s;
    &:hover {
      scale: 1.1;
      cursor: pointer;
    }
  }
}
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  background: url(../images/hero.jpg);
  background-position: 0% 70%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  top: -80px;
  left: 0;
  z-index: 0;
  padding: 200px 50px;
  p {
    display: flex;
    align-items: center;
    text-align: center;
    width: 520px;
    font-size: 80px;
  }
}
.catalog-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -40px auto;

  & > p {
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
  }
}
.catalog {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  gap: 20px 20px;
}
.product-card {
  width: 280px;
  height: 625px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid $main-text-color;
  background-color: #ffffff;
}
.product-img {
  width: 270px;
  height: 270px;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: auto;
    height: 100%;
  }
}
.name {
  font-size: 20px;
  margin: 15px 0 10px;
  text-align: center;
}
.about {
  display: flex;
  justify-content: space-around;
}
.inform-element {
  display: flex;
  flex-direction: column;
  & > img {
    width: auto;
    height: 32px;
    margin-bottom: 5px;
  }

  & > span {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: $main-text-color;
  }
}
.select-color {
  text-align: center;
  margin: 15px 0 10px;
}
