$header-font: "Playfair Display", serif;
$main-font: "Montserrat", sans-serif;
$accent-font: "Irish Grover", cursive;
$number-font: "Roboto", sans-serif;

$background-color: rgba(63, 4, 91, 0.3);
$main-text-color: rgba(39, 9, 53, 1);
$nav-text-color: #eeeeee;
$accent-color: rgba(255, 210, 51, 1);
$select-active-background: rgb(255, 235, 163);

$table_border: 1px solid rgba(39, 9, 53, 0.2);
$border: 1px solid $main-text-color;
$large-radius: 10px;
$smoll-radius: 5px;

%user-select-vendor {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

%btn-style {
  display: flex;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 60px;
  background-color: $background-color;
  border: $border;
  border-radius: $large-radius;
  font-family: $header-font;
  font-weight: 700;
  color: $main-text-color;
  transition: 0.3s;
  &:hover {
    background-color: $accent-color;
    box-shadow: 4px 4px 8px rgba(39, 9, 53, 0.5);
    cursor: pointer;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: $background-color;

  font-family: $main-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  overflow-x: hidden;
  color: $main-text-color;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 18px 50px;
  height: 80px;
  background-color: $background-color;

  .logo {
    width: 68px;
    height: auto;
    transition: 0.3s;
    &:hover {
      scale: 1.1;
    }
  }
  nav {
    display: flex;
    align-items: center;
    ul {
      width: 645px;
      display: flex;
      justify-content: space-between;

      a {
        font-family: $header-font;
        font-weight: 700;
        color: $nav-text-color;
        transition: 0.3s;
        &:hover {
          font-size: 22px;
          color: $accent-color;
        }
      }
    }
  }

  .basket-btn {
    position: relative;
    transition: 0.3s;
    &:hover {
      scale: 1.1;
      cursor: pointer;
    }
  }
  .products-counter{
    width: 25px;
    height: 25px;
    padding: 5px 0;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
    
    border: $border;
    border-radius: 50%;
    background-color: rgba(255, 217, 135, 0.3);
    color: $main-text-color;
    font-family: $number-font;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }
}
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  background: url(../images/hero.jpg);
  background-position: 0% 70%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  top: -80px;
  left: 0;
  z-index: 0;
  padding: 200px 50px;
  p {
    display: flex;
    align-items: center;
    text-align: center;
    width: 520px;
    font-family: $header-font;
    font-size: 72px;
  }
}
.catalog-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -40px auto 40px;

  & > h2 {
    font-family: $header-font;
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  background: rgba(63, 4, 91, 0.3);
  .logo img {
    display: block;
    width: 100px;
    height: auto;
  }
  .contact-links {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      align-items: center;
      margin: 10px 0 0;

      font-family: $accent-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;

      color: $main-text-color;
    }
    a[href*="tel:"] {
      margin-top: 0px;
      font-family: $number-font;
      font-weight: 500;
    }
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import "products-list";
@import "reviewed-products";
@import "basket-card";